<% provide(:title, "Project") %>
<header class="hero-img">
    <div class="hero-box">
        <h1>Coded for Digilock</h1>
        <%= link_to "https://github.com/Safarali/fordigilock" do %>
            <i class="fa fa-github" aria-hidden="true"></i> View Code
        <% end %>
    </div>
</header>
