<nav>
    <div class="container">
        <figure class="logo float-left">
            D
        </figure>
        <ul class="nav-links float-right">
            <li><%= link_to "Sign in", "#" %></li>
            <li><%= link_to "Sign up", "#" %></li>
        </ul>
    </div>
</nav>
