/* User Show Page */
section.user-show {
  background-color: $purple-light;
  height: 200px;
  padding: 40px 0;

  .user-wrapper {
    text-align: center;

    h2:first-child {
      height: 80px;
      width: 80px;
      border: 2px solid $white;
      border-radius: 50%;
      padding-top: 20px;
      font-size: 150%;
      color: $white;
      margin: auto auto 20px auto;
    }

    h2:last-child {
      font-size: 120%;
      color: $white;
    }
  }
}
